.parceiros {
    color: #949494;
    align-items: center;

    text-align: center;
}

.parceiros h1{
    font-weight: 700;
    font-size: 2rem;
}

.parceiros h2{
    font-weight: 300;
    font-size: 1.5rem;
}



#lightSliderParceiros li{

   
    
    display: flex;
   
    align-items: center;

    min-height: 30vh;

    text-align: center;
}



.logo-parceiros{
    padding-right: 10vw;
    width: 20vw;
}

  /* Small devices (landscape phones, less than 768px) */
  @media (min-width: 0px) and (max-width: 575px) { 


    .logo-parceiros{

        width: 50vw;
    }
    
 }

  /* Small devices (landscape phones, less than 768px) */
  @media (min-width: 576px) and (max-width: 767.98px) { 


    .logo-parceiros{

        width: 40vw;
    }


    
 }

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    
    .logo-parceiros{

        width: 30vw;
    }


}